{% extends "borapp/skeleton.html" %}
{% block content %}

<div class="page-header">
  {% if grape.id %}
  <h1>Edit Grape</h1>
  {% else %}
  <h1>Add Grape</h1>
  {% endif %}
</div>

<form class="form-horizontal" role="form" action="{{ action }}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    {{ form }}
  </div>
  <input id="save_grape" class="btn btn-default" type="submit" value="{% if grape.id %}Update grape{% else %}Add grape{% endif %}" />
</form>

<hr>
<a href="{% url "grapes-list" %}">Back to list</a>
{% endblock %}

