{% extends "borapp/skeleton.html" %}
{% block content %}

<div class="page-header">
  {% if region.id %}
  <h1>Edit Region</h1>
  {% else %}
  <h1>Add Region</h1>
  {% endif %}
</div>

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <p>
    {{ region_form.as_p }}
  </p>
  <hr>
  Wineries in the region
  <p>
    {{ winery_forms.as_p }}
  </p>
  <input id="save_region" class="btn btn-default" type="submit" value="{% if region.id %}Update region{% else %}Add region{% endif %}" />
</form>

<hr>
<a href="{% url "regions-list" %}">Back to list</a>
{% endblock %}
