{% extends "borapp/skeleton.html" %}
{% block content %}

<div class="page-header">
    <h1>Regions</h1>
</div>

<div class="row">
  <div class="col-md-8">
    Regions
    <ul>
      {% for region in object_list %}
        <li class="object">
          {{ region }}
          (<a href="{% url "regions-edit" pk=region.id %}">edit</a>)
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <a class="btn btn-default" href="{% url "regions-new" %}">Add new region</a>
  <div>

{% endblock %}

