<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Borapp Skeleton</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "dashboard" %}">Borapp</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "dashboard" %}">Home</a></li>
            <li><a href="{% url "wine-list" %}">Wines</a></li>
            <li><a href="{% url "grape-list" %}">Grapes</a></li>
            <li><a href="{% url "region-list" %}">Regions</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "wine-list" %}">Wines</a></li>
                <li><a href="{% url "grape-list" %}">Grapes</a></li>
                <li><a href="{% url "region-list" %}">Regions</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Not supported yet</li>
                <li><a href="#">Upload photo</a></li>
                <li><a href="#">Taste wine</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" style="padding: 40px">
<!-- Begin page content ================================================== -->
      {% block content %}{% endblock %}
<!-- End page content ==================================================== -->
    </div>

    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

